.header {
    background-color: #ffffff;
    overflow: visible;
    margin: -10px;
    padding: 20px 20px;
}

.header img {
    max-width: 5%;
}

.header .dropdown {
    float: right;
}

.header a {
    color: blue;
}

.gameboard, .about, .rules {
    background-color: #548347
}

.gameboard {
    position: relative;
}

#on-button {
    position: absolute;
    width: 85px;
    left: 85px;
    top: 55px;
    transition: 1s;
}

#off-button {
    position: absolute;
    width: 85px;
    left: 1475px;
    top: 55px;
}    

.on-off-button {
    position: absolute;
    font-size: 32pt;
    text-align: center;
    left: 10%;
    top: 12%;
    height: 85px;
    width: 85px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 50%;
    border-color: #000000;
    border-width: 5px;
    display: inline-block;
}

.on-off-button span {
    vertical-align: middle;
    font-family: Garamond;
    color: #000000;
}