html,
body {
    height: 100%;
}

.full-page {
    overflow: hidden;
    min-height: 100%;
    min-width: 960px;
}

.header {
    background-color: #ffffff;
    overflow: visible;
    margin: -10px;
    padding: 20px 20px;
}

.header img {
    max-width: 5%;
}

.header .dropdown {
    float: right;
}

.header a {
    color: blue;
}

.gameboard,
.about,
.rules {
    background-color: #548347
}

.gameboard {
    position: relative;
    z-index: 1;
}

.player-money-display {
    color: #00ff00;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#roll-display {
    position: absolute;
    left: 1505px;
    top: 355px;
    color: #ffffff;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

#on-button {
    position: absolute;
    width: 85px;
    left: 85px;
    top: 55px;
    transition: 1s;
}

#off-button {
    position: absolute;
    width: 85px;
    left: 1475px;
    top: 55px;
}

.dice-png {
    position: absolute;
    left: 1475px;
    max-width: 5%;
}

#first-die {
    top: 155px;
}

#second-die {
    top: 255px;
}

.footer {
    background-image: linear-gradient(#548347, #444444);
    padding-bottom: 250px;
    margin-bottom: -250px;
}
