.header {
    background-color: #ffffff;
    overflow: hidden;
    margin: -10px;
    padding: 20px 20px;
}

.header img {
    max-width: 5%;
}

.header .dropdown {
    float: right;
}

.header a {
    color: blue;
}

.gameboard, .about, .rules {
    background-color: #548347
}
