.static {
	color: blue;
}

.dynamic {
	color: red;
}

.chip-container {
	position: absolute;
	width: 85px;
	height: 85px;
	left: 105px;
	top: 50px;
}

.chip-container img {
	width: 100%;
	height: auto;
}

.chip-text {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: black;
	text-align: center;
	width: 100%;
}
